body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(rgb(38, 38, 251), rgb(186, 2, 186));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  height: 500px;
  width: 400px;
  border: 4px solid pink;
  border-radius: 10px;
}

.container header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: pink;
  font-size: 25px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: pink;
  margin: 20px;
  font-size: 28px;
}

.box input {
  margin-left: 10px;
  font-size: 17px;
  border: 2px solid rgb(254, 45, 229);
  border-radius: 4px;
  padding: 5px;
}

.box input::placeholder {
  color: fuchsia;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 330px;
  margin-top: 10px;
  border: 2px solid fuchsia;
  border-radius: 6px;
  background-color: pink;
  color: fuchsia;
  font-size: 23px;
  cursor: pointer;
}

.box p {
  display: block;
  margin: 0;
  margin-top: 10px;

  font-size: 17px;
}
